<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
    @*<li></li>*@
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="False">
            Information <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Application", "Application", "Home")</li>
            <li>@Html.ActionLink("Server Information", "ServerInfo", "Home")</li>
            <li><a href="https://discord.gg/0hQAXZIOgrb5RFRG" target="discord">Discord Channel</a></li>
            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            <li><a href="https://github.com/IHOC/Server" target="bugreport">Report an issue with the server</a></li>
        </ul>
    </li>
    <li><a href="http://forums.teamihoc.com" target="_new">Forums</a></li>
    <li><a href="https://shop.spreadshirt.com/teamihoc" target="_blank">Store Front</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="False">
            Media <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Youtube Streamers", "Youtube", "Home")</li>
        </ul>
    </li>
    @*<li>@Html.ActionLink("IRC", "Irc", "Home")</li>*@
    @*<li>@Html.ActionLink("MC Modding", "Modding", "Home")</li>*@
</ul>